.header {
  position: fixed;
  top: 0;
  left: 300px;
  right: 0;
  height: 3.75rem;
  background-color: var(--card-bg);
  border-bottom: 1px solid var(--card-border);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  z-index: 10;
  transition: background-color 0.3s, left 0.3s ease;
}

.collapsed {
  left: 80px;
}

.title {
  font-size: 1.25rem;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  color: var(--text);
}

@media (max-width: 768px) {
  .header,
  .collapsed {
    top: 4.85rem;
    left: 0;
    height: 3.4rem;
    padding: 0 1rem;
  }

  .title {
    font-size: 1rem;
  }
}
