.card {
  background-color: var(--card-bg);
  border: 1px solid var(--card-border);
  border-radius: 0.5rem;
  padding: 1rem;
  flex: 1;
  min-width: 12.5rem;
  box-shadow: var(--card-shadow);
  transition: background-color 0.3s, border 0.3s;
}

.card:hover {
  border-color: var(--yellow);
}

@media (max-width: 768px) {
  .card {
    min-width: 100%;
    padding: 0.875rem;
  }
}
